
@{
    ViewBag.Title = "EaStEr EgG";
}
<div id="terminal"></div>

@section scripts
    {

    <script src="~/Scripts/jquery.terminal.js"></script>
    <link href="~/Content/jquery.terminal.css" rel="stylesheet" />

    <script type="text/javascript">
        $(function () {
            var anim = false;
            function typed(finish_typing) {
                return function (term, message, delay, finish) {
                    anim = true;
                    var prompt = term.get_prompt();
                    var c = 0;
                    if (message.length > 0) {
                        term.set_prompt('');
                        var new_prompt = '';
                        var interval = setInterval(function () {
                            var chr = $.terminal.substring(message, c, c + 1);
                            new_prompt += chr;
                            term.set_prompt(new_prompt);
                            c++;
                            if (c == length(message)) {
                                clearInterval(interval);
                                // execute in next interval
                                setTimeout(function () {
                                    // swap command with prompt
                                    finish_typing(term, message, prompt);
                                    anim = false
                                    finish && finish();
                                }, delay);
                            }
                        }, delay);
                    }
                };
            }
            function length(string) {
                string = $.terminal.strip(string);
                return $('<span>' + string + '</span>').text().length;
            }
            var typed_message = typed(function (term, message, prompt) {
                term.echo(message)
                term.set_prompt(prompt);
            });

            $('#terminal').terminal(function (cmd, term) {
                var finish = false;
                var msg = "HI";
                term.set_prompt('> ');
                typed_message(term, msg, 200, function () {
                    finish = true;
                });
                var args = { command: cmd };
                $.get('commands.php', args, function (result) {
                    (function wait() {
                        if (finish) {
                            term.echo(result);
                        } else {
                            setTimeout(wait, 500);
                        }
                    })();
                });
            }, {
                name: 'xxx',
                greetings: null,
                width: 500,
                height: 300,
                onInit: function loopBitch (term) {
                    typed_message(term, "THIS WAS GOING TO SAY BITCH, BUT I'M NICE :)", 200, function () {
                        loopBitch(term);
                    });
                },
                keydown: function (e) {
                    //disable keyboard when animating
                    if (anim) {
                        return false;
                    }
                }
            });
        });
    </script>
}